.a{
    font-size: 50px;
    text-align: left;   
}
.b{
    font-size: 50px;
    text-align: center;   
}
.c{
    font-size: 50px;
    text-align: right;   
}
#a{
    font-size: 20px;
    text-align: right;
}
#b{
    font-size: 20px;
    text-align: center;
}
#c{
    font-size: 20px;
    text-align: left;
}