.body{
    border: 3px dashed yellowgreen;
    padding: 20px;
    margin: auto;
}
.header{
    border: 2px dashed red;
    margin-bottom: 10px;
}
.box-0{
    border: 2px dashed rgb(233, 233, 43);
}
.box-1 img{
    width: 280px;
    height: 400px;
    float: left;
}
.box-2 img{
    width: 280px;
    height: 400px;
    float: right;
}
.box-3 img{
    width: 280px;
    height: 400px;
    float: none;
}